@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@layer base {
  html {
    @apply font-general;
    @apply text-body1;
  }

  .subtitle1 {
    @apply text-subtitle1;
  }

  .subtitle2 {
    @apply text-subtitle2;
  }

  .body1 {
    @apply text-body1;
  }

  .body2 {
    @apply text-body2;
  }
}

@layer components {
}

.Mui-checked {
  color: #1665F5 !important;
}

.MuiDataGrid-columnHeaders {
  background-color: #E1E9F2;
  font-family: Inter, sans-serif;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

.MuiDataGrid-cell {
  border-left: 1px;
  border-style: solid;
  border-color: #CBCBCB;
}

.topBar {
  padding: 1rem;
}

.topBar button, .topBar label {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #1665F5;
  font-family: Inter, sans-serif;
  border-radius: 2px;
}

.infoBox {
  display: inline-block;
  padding: 2rem;
  margin-left: 48rem;
  border: 2px solid #CBCBCB;
}

.infoBoxCell {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}
