@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@layer base {
  html {
    @apply font-general;
    @apply text-body1;
  }

  .subtitle1 {
    @apply text-subtitle1;
  }

  .subtitle2 {
    @apply text-subtitle2;
  }

  .body1 {
    @apply text-body1;
  }

  .body2 {
    @apply text-body2;
  }
}

@layer components {
}

.MuiDataGrid-columnHeaders {
  background-color: #E1E9F2;
  font-family: Inter, sans-serif;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}

.MuiDataGrid-cell {
  border-left: 1px;
  border-style: solid;
  border-color: #CBCBCB;
}

.topBar button, .topBar label {
  background-color: #1665F5;
  margin: 2rem;
  font-family: Inter, sans-serif;
  border-radius: 2px;
}
